body {
    text-align: center;
    color: crimson ;
    background-color: black;
    font-size: 22px;
}

h1 {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

li {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

select {
    display : block;
    width: 350px;
}

.row .col {
    float: right;
}